.alert-warn{
    position: relative;
}
.alert-warning{
    height: 100%;
    width: 100%;

    position: absolute;
    top: -50px;
}
.alert-warning p{
    font-size: 16px;
    color: red;
}

/* .regisSuccess{
    background-color: #7d7b7b;
    border-radius: 83px;
} */
.regisSuccess p{
    font-size: 18px;
    color: black;
}

.fromBox{
    width: 100%;
    height: 100%;
    
    border-radius: 0px 45px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

    padding-left: 50px;
}

.form-group{
    padding-top: 18px;
}

.label-text{
    font-size: 20px;
    font-weight: 500;
}

.form-control{
    width: 90%;
    height: 40px;
    border: 0px solid #000;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.bottom{
    padding-bottom: 20px;
}

.bottomSubmit{
    width: 193px;
    height: 50px;

    border-radius: 83px;
    border: 0px solid #AEACAC;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: white;

}
.bottomSubmit:hover{
    cursor: pointer;
}

.bottomWarn{
    font-size: 20px;
}
.bottomLink{
    font-size: 20px;
    color: rgb(52, 84, 226);
}

.bottom button, h2, a {
    display: inline-block;
  }