*{
    box-sizing: border-box
}
.personal-info-container{
    width: 100%;
    height: 100%;
    padding: 20px 40px 40px 40px;
    
    border-radius: 0px 20px 0px 45px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

    padding-left: 50px;

    display: flex;
    flex-direction: row;
    position: relative;
}
.personal-info{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
}
.name-column{
    margin-top: 20px;
    text-align: end;
    font-size: 22px;
    font-weight: 600;
}
.data-container{
    margin-left: 30px;
    margin-top: 20px;

    border: 0px solid #000;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding-left: 20px;
    font-size: 19px;

    display: flex;
    align-items: center;
    text-align: center;
}
.security-container{
    width: 100%;
    height: 100%;
    padding: 10px 40px 30px 40px;
    
    border-radius: 0px 20px 0px 45px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

    padding-left: 50px;

    display: flex;
    flex-direction: row;
    position: relative;
}
.security-info{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
}
.edit-img{
    position: absolute;
    right: 20px;
}
.password-container{
    margin-left: 30px;
    margin-top: 20px;

    border: 0px solid #000;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding-left: 20px;
    font-size: 12px;

    display: flex;
    align-items: center;
    text-align: center;
}