.box {
    height: 558.64px;
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดให้ตรงกลางตามแนวตั้ง */
    justify-content: center; /* จัดให้ตรงกลางตามแนวนอน */
    text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
  }
  
  
  /* .sucessText, .loginBox {
      margin-top: 10px; 
  } */
  
  
  /* .sucessText p {
      padding-left: 4px;
      font-size: 30px;
      font-weight: 600;
  }
  .sucessText img, p {
      display: inline-block;
      vertical-align: middle;
  } */
  
  /* .containerr{
      width: 100%;
      height: 100%;
  } */
  
  .loginBox{
      margin-top: 10px;
      width: 500px;
      height: 70px;
  
      border-radius: 83px;
      border: 0px solid #AEACAC;
      background: #000;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
      display: flex;
      align-items: center; /* จัดให้ตรงกลางตามแนวตั้ง */
      justify-content: center; /* จัดให้ตรงกลางตามแนวนอน */
      text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
  
  }
  .loginBox a{
      font-family: 'Prompt', sans-serif;
      font-weight: 400;
      font-size: 22px;
      color: white;
      text-decoration: none;
  }