*{
    box-sizing: border-box;
}
.songLibrary-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.songName-container{
    width: 90%;
    height: 100px;
    
    border-radius: 20px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

    margin-bottom: 10px;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    /* overflow: hidden; */
    position: relative;
}
.song-number{
    position: absolute;
    top: 5px;
    left: -18px;

    font-size: 18px;
    font-weight: 600;
}
.text{
    font-size: 20px;
    font-weight: 500;

    white-space: nowrap; /* ไม่ให้ข้อความขึ้นบรรทัดใหม่ */
    overflow: hidden; /* ซ่อนเนื้อหาที่เกินขนาดของกล่อง */
    text-overflow: ellipsis;
}
.edit-img{
    position: absolute;
    right: 12px;
    top: 12px;
}
