{% extends "layout.html" %}

{% block head %}

<title>เปลี่ยนรหัสผ่าน</title>
<link rel = "stylesheet" href = "/static/css/register.css">

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('password');
        var confirmPasswordInput = document.getElementById('confirmPassword');
        var messageElement = document.getElementById('password-message');

        function validatePassword() {
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;

            if (password.length < 6) {
                messageElement.textContent = 'รหัสผ่านควรมีความยาวมากกว่า 6 อักขระ';
            } else if (password !== confirmPassword && confirmPassword !== '') {
                messageElement.textContent = 'รหัสผ่านไม่ตรงกัน';
            } else {
                messageElement.textContent = '';
            }
        }

        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validatePassword);
    });
</script>

{% endblock %}

{% block profile %}
<a href="{{url_for('profile')}}"><img src="/static/img/profile.png" alt="profile" width="50" height="50"> โปรไฟล์</a>
{% endblock %}

{% block genSong %}
<a href="{{url_for('genSong')}}"><img src="/static/img/genSong.png" alt="genSong" width="50" height="50"> แต่งเพลง</a>
{% endblock %}

{% block songLibrary %}
<a href="{{url_for('songLibrary')}}"><img src="/static/img/songLibrary.png" alt="songLibrary" width="50" height="50"> คลังเพลง</a>
{% endblock %}

{% block title %}
แก้ไขรหัสผ่าน
{% endblock %}


{% block content %}

<form action="{{ url_for('changePassword') }}" method="post">
	{% if message is defined and message %}
	<div class="alert-warn">
		<div class="alert-warning"><p>**{{ message }}**</p></div>
	</div>
	{% endif %}
	<div class="fromBox"> 
		<div class="form-group">
			<label for="password" class="label-text">รหัสผ่านใหม่:  </label><span id="password-message" style="color: red;"></span><br>
			<input type="password" class="form-control" id="password" name="password" placeholder="รหัสผ่าน" name="pswd" required>
		</div> 
		<div class="form-group">
			<label for="confirmPassword" class="label-text">ยืนยันรหัสผ่านใหม่:</label><br>
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="รหัสผ่าน" name="pswd" required>
		</div> 
		<div class="bottom">
			<br><button type="submit" class="bottomSubmit">บันทึกรหัสผ่าน</button>
		</div>
	</div>
</form>

{% endblock %}


{% block status %}
<a href="{{url_for('logout')}}" id="logout-btn"><img src="/static/img/logout.png" alt="logout" width="32" height="32"> ออกจากระบบ</a>
<div id="logoutConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการออกจากระบบใช่หรือไม่?</p>        
        <button id="confirmlogout">ออกจากระบบ</button>
        <button id="cancellogout">ยกเลิก</button>
    </div>    
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let logoutBtn = document.getElementById('logout-btn');        
    
        function handleLinkClick(event, targetURL) {
            event.preventDefault(); 
            let modal = document.getElementById('logoutConfirmationModal');
            modal.style.display = 'block';
    
            document.getElementById('confirmlogout').onclick = function() {
                window.location.href = targetURL; 
            };
    
            document.getElementById('cancellogout').onclick = function() {
                modal.style.display = 'none';
            };
        }
    
        if (logoutBtn) {
            logoutBtn.addEventListener('click', function(event) {
                handleLinkClick(event, '/logout');
            });
        }
    });
</script>
{% endblock %}