{% extends "layout.html" %}

{% block head %}
<link rel = "stylesheet" href = "/static/css/chooseFile.css">
<title>เลือกไฟล์เพลง</title>
{% endblock %}



{% block profile %}
<a href="{{url_for('profile')}}" style="color: black;"><img src="/static/img/profile.png" alt="profile" width="50" height="50"> โปรไฟล์</a>
{% endblock %}

{% block genSong %}
<a href="{{url_for('genSong')}}"><img src="/static/img/genSong.png" alt="genSong" width="50" height="50"> แต่งเพลง</a>
{% endblock %}

{% block songLibrary %}
<a href="{{url_for('songLibrary')}}"><img src="/static/img/songLibrary.png" alt="songLibrary" width="50" height="50"> คลังเพลง</a>
{% endblock %}


{% block title %}
เลือกไฟล์เพลงที่ต้องการ
{% endblock %}

{% block content %}

<form action="{{ url_for('chooseFile', song_id=song_id) }}" method="post"> 
    <!-- <input type="hidden" name="song_id" value="{{ song_id }}"> -->
    <div class="form-group">
        <!-- <label for="selectfile" class="">กรุณาเลือกไฟล์เพลง:</label><br> -->
        <select class="selectfile" id="selectfile" name="selectfile" required>
            <option value="" disabled selected>เลือกไฟล์เพลง</option>
            {% for song in songs %}
                <div class="songName-container">
                    <option value="{{ loop.index }}">{{ song[1] }}</option>
                </div>
            {% endfor %}
        </select>
    </div>	
    <div class="bottom">
        <br><button type="submit" class="confirm-btn">ยืนยัน</button>
    </div>
</form>

<!-- <div class="songLibrary-container">
    {% for song in songs %}
        <div class="songName-container">
            <span class="song-number">{{ loop.index }}</span>
            <div class="text"> ชื่อเพลง: {{ song[1] }}</div>
            <a href="{{ url_for('editSong', song_id=song[0]) }}">
                <span class="edit-img"><img src="/static/img/edit.png" alt="edit" width="20" height="20"></span>
            </a>
        </div>
    {% endfor %}
</div> -->

{% endblock %}

{% block status %}
<a href="{{url_for('logout')}}" id="logout-btn"><img src="/static/img/logout.png" alt="logout" width="32" height="32"> ออกจากระบบ</a>
<div id="logoutConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการออกจากระบบใช่หรือไม่?</p>        
        <button id="confirmlogout">ออกจากระบบ</button>
        <button id="cancellogout">ยกเลิก</button>
    </div>    
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let logoutBtn = document.getElementById('logout-btn');        
    
        function handleLinkClick(event, targetURL) {
            event.preventDefault(); 
            let modal = document.getElementById('logoutConfirmationModal');
            modal.style.display = 'block';
    
            document.getElementById('confirmlogout').onclick = function() {
                window.location.href = targetURL; 
            };
    
            document.getElementById('cancellogout').onclick = function() {
                modal.style.display = 'none';
            };
        }
    
        if (logoutBtn) {
            logoutBtn.addEventListener('click', function(event) {
                handleLinkClick(event, '/logout');
            });
        }
    });
</script>
{% endblock %}