{% extends "layout.html" %}

{% block head %}
<link rel = "stylesheet" href = "/static/css/editSong_login.css">
<title>แก้ไขเสียงเพลง</title>
<script src="https://unpkg.com/wavesurfer.js"></script>
{% endblock %}



{% block profile %}
<a href="{{url_for('profile')}}"><img src="/static/img/profile.png" alt="profile" width="50" height="50"> โปรไฟล์</a>
{% endblock %}

{% block genSong %}
<a href="{{url_for('genSong')}}"><img src="/static/img/genSong.png" alt="genSong" width="50" height="50"> แต่งเพลง</a>
{% endblock %}

{% block songLibrary %}
<a href="{{url_for('songLibrary')}}" style="color: black;"><img src="/static/img/songLibrary.png" alt="songLibrary" width="50" height="50"> คลังเพลง</a>
{% endblock %}


{% block title %}
แก้ไขเสียงเพลง
{% endblock %}

{% block content %}

<div class="song-name-container">
    <h3 id="song-title">{{ song[1] }}</h3> 
    <img id="edit-song-name" class="edit-song-name" src="/static/img/edit.png" alt="edit" width="20" height="20" style="cursor: pointer;">
</div>

<form class="edit-song-form" id="edit-song-form" action="{{ url_for('editSong', song_id=song[0]) }}" method="post" style="display: none;">
    <input type="text" id="song_name" name="song_name" value="{{ song[1] }}">
    <input type="submit" value="บันทึกการแก้ไข">
    <button type="button" onclick="cancelEdit()">ยกเลิก</button>
</form>

<script>
    function showEditForm() {
        document.getElementById('edit-song-form').style.display = 'block';
        document.getElementById('song-title').style.display = 'none';
        document.getElementById('edit-song-name').style.display = 'none';
    }

    function cancelEdit() {
        document.getElementById('edit-song-form').style.display = 'none';
        document.getElementById('edit-song-name').style.display = 'block';
        document.getElementById('song-title').style.display = 'block';
    }

    document.querySelector('.edit-song-name').addEventListener('click', showEditForm);
</script>

<div class="edit-container" id="edit-container">
    <div class="waveform-container" id="waveform-container"></div>
</div>
<button id="playAllBtn" class="playAllBtn">เล่นเพลงทั้งหมด</button>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var songPaths = JSON.parse('{{ song_paths | tojson | safe }}');
    var waveSurferInstances = []; // To store the WaveSurfer instances

    // Create a function to play the next track
    function playNextTrack(currentIndex) {
        if (currentIndex < songPaths.length - 1) {
            let nextIndex = currentIndex + 1;
            waveSurferInstances[nextIndex].seekTo(0);
            waveSurferInstances[nextIndex].play();
        }
    }

    var playAllBtn = document.getElementById("playAllBtn");
    var isPlayingAll = false;

    playAllBtn.addEventListener('click', function() {
        if (waveSurferInstances.length > 0) {
            if (!isPlayingAll) {
                waveSurferInstances[0].seekTo(0);
                waveSurferInstances[0].play();
                isPlayingAll = true;
                this.textContent = 'หยุดเล่นเพลงทั้งหมด';
            } else {
                waveSurferInstances.forEach((wavesurfer) => {
                    wavesurfer.pause();
                });
                isPlayingAll = false;
                this.textContent = 'เล่นเพลงทั้งหมด'; 
            }
        }
    });

    songPaths.forEach((songPath, index) => {
        // Create elements for each track as before
        var heroDiv = document.createElement('div');
        heroDiv.className = 'hero';
        heroDiv.id = 'hero-' + index;

        var musicDiv = document.createElement('div');
        musicDiv.className = 'music';

        var trackDiv = document.createElement('div');
        trackDiv.className = 'track';

        var playBtn = document.createElement('img');
        playBtn.src = '/static/img/play.png';
        playBtn.id = 'playBtn-' + index;
        playBtn.className = 'play-button';

        var waveformDiv = document.createElement('div');
        waveformDiv.id = 'waveform-' + index;

        trackDiv.appendChild(playBtn);
        trackDiv.appendChild(waveformDiv);
        musicDiv.appendChild(trackDiv);
        heroDiv.appendChild(musicDiv);

        document.getElementById('waveform-container').appendChild(heroDiv);

        var wavesurfer = WaveSurfer.create({
            container: '#waveform-' + index,
            waveColor: '#ddd',
            progressColor: '#ff006c',
            barWidth: 4,
            responsive: true,
            height: 90,
            barRadius: 4
        });

         // Push the WaveSurfer instance to the array
         waveSurferInstances.push(wavesurfer);

        // Load the audio file into this WaveSurfer instance
        wavesurfer.load('/audio/' + songPath);

        // When a track ends, play the next one
        waveSurferInstances.forEach((wavesurfer, index) => {
            wavesurfer.on('finish', function() {
                playBtn.src = "/static/img/play.png";
                if (isPlayingAll && index < songPaths.length - 1) {
                    playNextTrack(index);
                } else {
                    isPlayingAll = false;
                    playAllBtn.textContent = 'เล่นเพลงทั้งหมด';
                }
            });
        });

        playBtn.addEventListener('click', function() {
            wavesurfer.playPause();
            this.src = wavesurfer.isPlaying() ? "/static/img/pause.png" : "/static/img/play.png";
        });

        // Add a form for speed and volume controls
        var formDiv = document.createElement('div');
        formDiv.innerHTML = `
            <form action="{{ url_for('editSong', song_id=song_id) }}" method="post">
                <div>
                    <label for="speed-${index}" style="color: white;">ความเร็ว:</label>
                    <select name="speed" id="speed-${index}">
                        <option value="0.5">0.5x</option>
                        <option value="1" selected>1x</option>
                        <option value="1.5">1.5x</option>
                        <option value="2">2x</option>
                    </select>
                </div>
                <div>
                    <label for="volume-${index}" style="color: white;">ความดัง:</label>
                    <input type="range" id="volume-${index}" name="volume" min="-60" max="0" value="0" step="1">
                </div>
                <input type="hidden" name="song_index" value="${index}">
                <div class="delete-container">
                    <button type="submit">บันทึกการแก้ไข</button>
                    <img class="delete-button" src="/static/img/deleteWhite.png" alt="delete" width="25" height="25">
                </div>
            </form>        
        `;

        formDiv.style.marginTop = '10px';
        formDiv.style.display = 'none';
        heroDiv.appendChild(formDiv);

        heroDiv.addEventListener('click', function() {
            formDiv.style.display = formDiv.style.display === 'none' ? 'block' : 'none';
        });

        formDiv.addEventListener('click', function(event) {
            event.stopPropagation();
        });

        // Apply speed and volume changes
        wavesurfer.on('ready', function() {
            var speedSelect = document.getElementById('speed-' + index);
            var volumeSlider = document.getElementById('volume-' + index);

            speedSelect.onchange = function() {
                wavesurfer.setPlaybackRate(parseFloat(this.value));
            };

            volumeSlider.oninput = function() {
                var dB = parseInt(this.value); // ได้ค่า dB จาก slider

                // แปลงค่า dB เป็นค่าสัดส่วน (0-1) สำหรับใช้ใน API เสียงเบราว์เซอร์
                // ใช้สูตร: volume = 1 * 10^(dB/20)
                // โดยปกติ 0 dB ในการใช้งานเสียงจะเป็นค่าอ้างอิงและหมายถึง "ระดับเสียงปกติ"
                // แต่ API เสียงของเบราว์เซอร์จะรับค่าระหว่าง 0 ถึง 1
                // ดังนั้น เราจะต้องมีวิธีการที่จะแปลง dB เป็นค่าที่เหมาะสม
                var linearVolume = Math.pow(10, dB / 20);

                // ตรวจสอบว่าค่าไม่เกินช่วงที่อนุญาต (0-1) ถ้าเกินจะตั้งเป็น 1
                linearVolume = linearVolume > 1 ? 1 : linearVolume;

                // ตรวจสอบว่าค่าไม่ต่ำกว่า 0 ถ้าต่ำกว่าจะตั้งเป็น 0
                linearVolume = linearVolume < 0 ? 0 : linearVolume;

                // ตั้งค่า volume ให้กับ wavesurfer หรือ HTMLAudioElement
                wavesurfer.setVolume(linearVolume);

                // อัปเดตข้อความแสดงระดับเสียงเป็น dB
                // document.getElementById('volumeValue-' + index).textContent = dB + ' dB';
            };

            // volumeSlider.oninput = function() {
            //     var volume = parseInt(this.value, 10) / 200;
            //     wavesurfer.setVolume(volume);
            //     document.getElementById('volumeValue-' + index).textContent = this.value + '%';
            // };
        });

        document.querySelectorAll('.delete-button').forEach((button, buttonIndex) => {
            button.addEventListener('click', function() {
                let songId = '{{ song_id }}';
                let modal = document.getElementById('deleteConfirmationModal');
                modal.style.display = 'block';

                document.getElementById('confirmDelete').onclick = function() {
                    deleteSong(songId, buttonIndex); // ส่ง index เป็น argument ไปยัง deleteSong
                };

                document.getElementById('cancelDelete').onclick = function() {
                    modal.style.display = 'none';
                };
            });
        });

        function deleteSong(songId, song_index) {
            fetch(`/deleteSong/${songId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ song_index: song_index }), 
            })
            .then(response => {
                if(response.ok) {
                    window.location.href = `/reload/${songId}`;
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
});
</script>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">เพิ่มไฟล์เพลง</button>
    <!-- <img onclick="myFunction()" class="dropbtn" src="/static/img/plus.png" alt="plus" width="25" height="25"> -->
    <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('chooseFile', song_id=song_id) }}">อัปโหลดเสียงจากคลังเพลง</a>
        <form id="uploadForm" action="{{ url_for('editSong', song_id=song_id) }}" method="post" enctype="multipart/form-data">
            <div class="upload-container">
                <input type="file" id="audio_file" name="audio_file" accept=".mp3,.m4a,.wav">
                <label for="audio_file">
                    <span class="upload-text" id="label-text">อัปโหลดเสียงจากอุปกรณ์<br>ของคุณ</span>
                </label>
            </div>
        </form>
    </div>
    <script>
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        }
    </script>
</div>
<div id="message" class="message"></div>
<script>
    document.getElementById('audio_file').addEventListener('change', function() {
        var file = this.files[0];
        var maxSizeMB = 10;
        var maxSizeBytes = maxSizeMB * 1024 * 1024;
        var messageElement = document.getElementById('message');

        if (file && file.size > maxSizeBytes) {
            messageElement.innerHTML = "กรุณาอัปโหลดไฟล์ที่มีขนาดไม่เกิน " + maxSizeMB + " MB";
            messageElement.classList.add("error"); 
            this.value = '';
        } else {
            messageElement.innerHTML = "";
            messageElement.classList.remove("error");
            document.getElementById('uploadForm').submit();
        }
    });
</script>

<div id="deleteConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการลบไฟล์เพลงนี้ใช่หรือไม่?</p>
        <button id="confirmDelete">ยืนยัน</button>
        <button id="cancelDelete">ยกเลิก</button>
    </div>
</div>

<div id="deleteSongConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการลบเพลง {{ song[1] }} ใช่หรือไม่?</p>
        <button id="confirmDeleteSong">ยืนยัน</button>
        <button id="cancelDeleteSong">ยกเลิก</button>
    </div>
</div>

<img class="delete-song" src="/static/img/deleteBlack.png" alt="delete" width="25" height="25">
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let deleteButton = document.querySelector('.delete-song');
        if (deleteButton) { 
            deleteButton.addEventListener('click', function() {
                let songId = '{{ song_id }}';
                let modal = document.getElementById('deleteSongConfirmationModal');
                modal.style.display = 'block';

                document.getElementById('confirmDeleteSong').onclick = function() {
                    deleteWholeSong(songId);
                };

                document.getElementById('cancelDeleteSong').onclick = function() {
                    modal.style.display = 'none';
                };
            });
        }
    });

    function deleteWholeSong(songId) {
        fetch(`/deleteWholeSong/${songId}`, {
            method: 'POST'
        })
        .then(response => {
            if(response.ok) {
                window.location.href = '/songLibrary';
            } 
        })
        .catch(error => console.error('Error:', error));
    }

</script>

{% if message is defined and message %}
	<div class="alert-warn">
		<div class="alert-warning">{{ message }}</div>
	</div>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert-warning">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
    <a href="{{ url_for('downloadSong', song_id=song_id) }}" class="btn btn-primary"><img class="btn-downloadSong" src="/static/img/download.png" alt="download" width="30" height="30"></a>
</div>

{% endblock %}


{% block status %}
<a href="{{url_for('logout')}}" id="logout-btn"><img src="/static/img/logout.png" alt="logout" width="32" height="32"> ออกจากระบบ</a>
<div id="logoutConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการออกจากระบบใช่หรือไม่?</p>        
        <button id="confirmlogout">ออกจากระบบ</button>
        <button id="cancellogout">ยกเลิก</button>
    </div>    
</div>
<!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
        let logoutBtn = document.getElementById('logout-btn');        
    
        function handleLinkClick(event, targetURL) {
            event.preventDefault(); 
            let modal = document.getElementById('logoutConfirmationModal');
            modal.style.display = 'block';
    
            document.getElementById('confirmlogout').onclick = function() {
                window.location.href = targetURL; 
            };
    
            document.getElementById('cancellogout').onclick = function() {
                modal.style.display = 'none';
            };
        }
    
        if (logoutBtn) {
            logoutBtn.addEventListener('click', function(event) {
                handleLinkClick(event, '/logout');
            });
        }
    });
</script> -->
{% endblock %}
