{% extends "layout.html" %}

{% block head %}
<link rel = "stylesheet" href = "/static/css/genSong.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
<title>แต่งเพลง</title>
{% endblock %}

{% block title %}
สร้างเพลงที่คุณต้องการด้วยข้อความ
{% endblock %}

{% block profile %}
<a href="{{url_for('login')}}" class="loginLink" id="loginLink"><img src="/static/img/profile.png" alt="profile" width="50" height="50"> โปรไฟล์</a>
{% endblock %}

{% block genSong %}
<a href="{{url_for('home')}}" class="homeLink" id="homeLink" style="color: black;"><img src="/static/img/genSong.png" alt="genSong" width="50" height="50"> แต่งเพลง</a>
{% endblock %}

{% block songLibrary %}
<a href="{{url_for('login')}}" class="loginLink2" id="loginLink2"><img src="/static/img/songLibrary.png" alt="songLibrary" width="50" height="50"> คลังเพลง</a>
{% endblock %}

{% block content %}
<div class="fromBox">
    <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
        <div class="genSong">
            <div class="text-title">
                <label for="description" class="label-text">คุณต้องการเพลงแบบไหน</label>
            </div>
            <div class="genSong-descriptions">
                <div class="genSong-container">
                    <div class="text-container">
                        <textarea class="input-text" id="description" name="descriptions" placeholder="เพลงฮิปฮอปพร้อมโซโลไวโอลิน..."></textarea>
                        <a class="clearText" id="clearText" href="#">X</a>
                        <div class="language-switch">
                            <a href="{{url_for('home')}}" style="color: black;">ไทย</a> | 
                            <a href="{{url_for('homeGenEng')}}">อังกฤษ</a>
                        </div>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var clearButton = document.getElementById('clearText');
                            var textArea = document.getElementById('description');
                        
                            clearButton.addEventListener('click', function(e) {
                                e.preventDefault();
                                textArea.value = '';
                            });
                        });
                    </script>
                    <div class="inputmusic-container">
                        <div class="upload-container">
                            <input type="file" id="songfile" name="guiding_audio_file" accept=".mp3,.m4a,.wav">
                            <label for="songfile">
                                <img src="/static/img/song-upload.png" alt="song-upload" width="80" height="80">
                                <span class="upload-text" id="label-text">อัปโหลดไฟล์เพลง (ถ้ามี)</span>
                            </label>
                            <div id="message" class="message"></div>
                        </div>
                        <script>
                            document.getElementById('songfile').addEventListener('change', function() {
                                var file = this.files[0];
                                var maxSizeMB = 10;
                                var maxSizeBytes = maxSizeMB * 1024 * 1024;
                                var messageElement = document.getElementById('message');

                                if (file && file.size > maxSizeBytes) {
                                    messageElement.innerHTML = "กรุณาอัปโหลดไฟล์ที่มีขนาดไม่เกิน " + maxSizeMB + " MB";
                                    messageElement.classList.add("error"); 
                                    this.value = '';
                                } else {
                                    var fileName = this.files[0].name;
                                    document.getElementById('label-text').textContent = fileName;
                                    messageElement.innerHTML = "";
                                    messageElement.classList.remove("error");
                                }
                            });
                        </script>
                        <!-- <script>
                            document.getElementById('songfile').addEventListener('change', function() {
                                var fileName = this.files[0].name; // รับชื่อไฟล์
                                document.getElementById('label-text').textContent = fileName; // อัปเดตข้อความใน <span>
                            });
                        </script>                        -->
                    </div>
                </div>
            </div>
            <div class="guide-text">
                <img src="/static/img/music-shop.png" class="music-shop-img" alt="music-shop" width="32" height="35">
                <div class="music-instrument-container">
                    <select class="music-instrument" name="music-instrument" id="music-instrument" multiple>
                        <option value="Guitar">กีตาร์</option>
                        <option value="Bass">เบส</option>
                        <option value="Violin">ไวโอลิน</option>
                        <option value="Viola">วิโอลา</option>
                        <option value="Cello">เชลโล</option>
                        <option value="DoubleBass">ดับเบิลเบส</option>
                        <option value="Harp">ฮาร์ป</option>
                        <option value="Banjo">แบนโจ</option>
                        <option value="Mandolin">แมนโดลิน</option>
                        <option value="Lute">ลูท</option>
                        <option value="Lyre">ไลร์</option>
                        <option value="DrumSet">กลองชุด</option>
                        <option value="Timpani">กลองทิมปานี</option>
                        <option value="BigDrum">กลองใหญ่</option>
                        <option value="SmallDrum">กลองเล็ก</option>
                        <option value="BongoDrum">กลองบองโก</option>
                        <option value="CongaDrum">กลองคองกา</option>
                        <option value="Tambourine">แทมบูรีน</option>
                        <option value="Cymbal">ฉาบ</option>
                        <option value="Bellaila">เบลไลลา</option>
                        <option value="Xylophone">ไซโลโฟน</option>
                        <option value="Vibraphone">ไวบราโฟน</option>
                        <option value="LineBell">ไลน์เบล</option>
                        <option value="Triangle">ไทรแองเกิล</option>
                        <option value="Castanet">คาสทาเนท</option>
                        <option value="Maracas">มาราคัส</option>
                        <option value="Cabaza">คาบาซา</option>
                        <option value="Marimba">มาริมบา</option>
                        <option value="Cowbell">คาวเบล</option>
                        <option value="TubularBells">ระฆังราว</option>
                        <option value="Organ">ออร์แกน</option>
                        <option value="Melodian">เมโลเดียน</option>
                        <option value="Piano">เปียโน</option>
                        <option value="Accordion">แอคคอร์เดียน</option>
                        <option value="Harpsichord">ฮาร์ปซิคอร์ด</option>
                        <option value="Electone">อิเล็กโทน</option>
                        <option value="Clavichord">แคลฟวิคอร์ด</option>
                        <option value="OrganMount">เมาท์ออแกน</option>
                        <option value="Flute">ฟลูต</option>
                        <option value="Saxophone">แซกโซโฟน</option>
                        <option value="Oboe">โอโบ</option>
                        <option value="Clarinet">คลาริเน็ต</option>
                        <option value="Bassoon">บาสซูน</option>
                        <option value="Recorder">รีคอร์เดอร์</option>
                        <option value="Piccolo">ปิคโคโล</option>
                        <option value="CorAnglais">คอร์ แองเกลส์</option>
                        <option value="Trombone">ทรอมโบน</option>
                        <option value="Trumpet">ทรัมเป็ต</option>
                        <option value="Tuba">ทูบา</option>
                        <option value="Flugelhorn">ฟลูเกลฮอร์น</option>
                        <option value="FrenchHorn">เฟรนช์ฮอร์น</option>
                        <option value="Cornet">คอร์เน็ท</option>
                        <option value="Sousaphone">ซูซาโฟน</option>
                        <option value="Euphonium">ยูโฟเนียม</option>

                    </select>
                    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
                    <script>
                        new MultiSelectTag('music-instrument')  // id
                    </script>
                </div>
                <img src="/static/img/mood.png" class="emotion-img" alt="emotion" width="32" height="35">
                <div class="emotion-container">
                    <div class="emotion-input-container">                   
                        <select class="emotion" name="emotion" id="emotion" multiple>
                            <option value="happy">ดีใจ</option>
                            <option value="fun">สนุกสนาน</option>
                            <option value="cheerful">ร่าเริง</option>
                            <option value="sweet">หวาน</option>
                            <option value="love">รัก</option>
                            <option value="encouragement">มีกำลังใจ</option>
                            <option value="sad">เศร้า</option>
                            <option value="angry">โกรธ</option>
                            <option value="stressful">เครียด</option>
                            <option value="discouragement">ท้อถอย</option>
                        </select>
                        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
                        <script>
                            new MultiSelectTag('emotion')  // id
                        </script>
                    </div>    
                </div>
                <img src="/static/img/song-type.png" class="song-type-img" alt="song-type" width="32" height="35">
                <div class="song-type-container">
                    <select class="song-type" name="song-type" id="song-type">
                        <option value="" disabled selected> </option>
                        <option value="Instrumental">เพลงบรรเลง (Instrumental)</option>
                        <option value="Classic">คลาสสิก (Classic)</option>
                        <option value="POP">ป๊อป (POP)</option>
                        <option value="Jazz">แจ๊ส (Jazz)</option>
                        <option value="R&B">ริทึมแอนด์บลูส์ (R&B)</option>
                        <option value="Hiphop">ฮิปฮอป (Hip hop)</option>
                        <option value="Rock">ร็อก (Rock)</option>
                        <option value="Electronic">อิเล็กทรอนิกส์ (Electronic)</option>
                    </select>
                </div>
            </div> 
            <div class="submit-container">
                <div class="submit-button-container">
                    <input type="submit" id="submit-button" class="submit-button" value="สร้างเสียงเพลง">
                </div>
            </div>
        </div>        
    </form>    
</div>
<div id="loadingMessage" class="loadingMessage" style="display: none;"> 
    <div class="Message">กำลังสร้างเสียงเพลง...</div>  
    <div class="loadingIcon"></div><br>
    <div class="Explanatory-text">
        • กระบวนการสร้างเพลงใช้เวลาประมาณ 1-5 นาที 
        <br>• เพลงที่สร้างเสร็จแล้วจะมีอายุการใช้งาน 20 นาที
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        function disableInteractiveElements() {

            document.getElementById('submit-button').style.display = 'none';

            // document.getElementById('fromBox').style.display = 'none';

            let links = document.querySelectorAll('#loginLink, #homeLink, #loginLink2, .language-switch a');
            links.forEach(link => {
                link.style.pointerEvents = 'none';
                link.style.color = 'grey'; 
            });
        }

        document.querySelector('.submit-button').addEventListener('click', function(e) {
            document.getElementById('loadingMessage').style.display = 'block';
            disableInteractiveElements();
        });
    });
</script>
    
{% if message is defined and message %}
	<div class="alert-warn">
		<div class="alert-warning"><p>**{{ message }}**</p></div>
	</div>
{% endif %}

<div id="exitConfirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>คุณต้องการออกจากหน้านี้ใช่หรือไม่?<br>
            <h7>**เพลงที่คุณสร้างไว้จะหายไป**</h7>
        </p>        
        <button id="confirmExit">ออกจากหน้านี้</button>
        <button id="cancelExit">ยกเลิก</button>
    </div>    
</div>

{% if audio_generated %}
    <script>
        document.getElementById('loadingMessage').style.display = 'none'; // ซ่อนข้อความ
    </script>
    <h2>เพลงที่สร้าง: {{ full_descriptionTH }}</h2>
    <audio controls>
        <source src="{{ url_for('stream', filename=filename) }}" type="audio/wav">
        เบราว์เซอร์ของคุณไม่รองรับเอเลเมนต์เสียง.
    </audio>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let loginLink = document.getElementById('loginLink');
            let homeLink = document.getElementById('homeLink');    
            let loginLink2 = document.getElementById('loginLink2');
        
            function handleLinkClick(event, targetURL) {
                event.preventDefault(); 
                let modal = document.getElementById('exitConfirmationModal');
                modal.style.display = 'block';
        
                document.getElementById('confirmExit').onclick = function() {
                    window.location.href = targetURL; 
                };
        
                document.getElementById('cancelExit').onclick = function() {
                    modal.style.display = 'none';
                };
            }
        
            if (loginLink) {
                loginLink.addEventListener('click', function(event) {
                    handleLinkClick(event, '/login');
                });
            }
        
            if (homeLink) {
                homeLink.addEventListener('click', function(event) {
                    handleLinkClick(event, '/home');
                });
            }

            if (loginLink2) {
                loginLink2.addEventListener('click', function(event) {
                    handleLinkClick(event, '/login');
                });
            }
        });
    </script>
{% endif %}

{% endblock %}


{% block status %}
<a href="{{url_for('login')}}"><img src="/static/img/login.png" alt="login" width="32" height="32"> เข้าสู่ระบบ</a>
{% endblock %}