<!DOCTYPE html>
<html>
<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "/static/css/styles.css">
    {% block head %}{% endblock %}
</head>
<body>

    <div class="sidebar">
        <div class="logoOctave">
            <img src="/static/img/octaveLogo.png" alt="octaveLogo" width="168" height="85">
        </div>
        <div class="menuContainer">
            <div class="menuBox">
                <div class="menuPiano">
                    {% block profile %}{% endblock %}
                    <div class="pianoKey1"></div>
                </div>
                <div class="menuPiano">
                    {% block genSong %}{% endblock %}
                    <div class="pianoKey1"></div>
                    <div class="pianoKey2"></div>
                </div>
                <div class="menuPiano">
                    {% block songLibrary %}{% endblock %}
                    <div class="pianoKey2"></div>
                </div>
            </div>
        </div>
        <div class="memberStatus">
            <div class="memberStatus"> 
                {% block status %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="main">
        <p>{% block title %}{% endblock %}</p>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
     
</body>
</html> 